.footer {
    color: white;
    background-color: #232f3e;
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
}

.amazonImgFooter {
    width: 110px;
}

.amazonImg {
    margin-top: 40px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.contentFooterTitle {
    font-weight: 600;
}

.contentFooterTitleDiv{
    margin-top: 10px;
    font-size: 14px;
}

.contentFooterTitleCount {
    cursor: pointer;
    margin-bottom: 10px;

}
